.bubble {
    animation: bubble 6s infinite;
}
.delay-2s {
    animation-delay: -2s;
}
.delay-3s {
    animation-delay: -3s;
}
.delay-4s {
    animation-delay: -4s;
}
@keyframes bubble {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}